table {
    margin: auto;
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
}

colgroup, tbody {
    border: solid medium;
}

td {
    border: solid thin;
    height: 3em;
    width: 3em;
    padding: 0;
}

input[type="text"] {
    border: none;
    text-align: center;
    border-radius: none;
    font-size: 2em;
    width: 100%;
    box-shadow: none;
    margin: 0;
    display: block;
    outline: none;
}
